extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/logo.svg', width='160')
		h1 Welcome
		p This is your new <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> website.
		p It includes the latest versions of
			| <a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			| and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		p Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.
		hr
		
